/* LA CUPRINS AVEM ASA:
  - NISTE SETARI GLOBALE LA INCEPUT;
  - MENIUL DE NAVIGATIE - LINE 68
  - SIDEBAR - LINE 124
  - CONTENT HEADER - LINE 144
  - CONTAINER - 255
  - BUTTONS - 265
  - MAIN - 371
  - MEDIA - 429
  - FOOTER - 502
  - MEMBERSHIP - 572 */
@font-face {
    font-family: avant;
    src: url('avantgarde.woff') format('woff')
}
body{
	cursor: default;
	color: black;
	font-family: 'Calibri';
	width:900px;
	min-width: 900px;
	margin:0 auto;
	background: url('../images/bbg.jpg') 0 0 repeat;
}
ul{margin-left:0px }
html{position: relative;}
a{text-decoration: none;color:white;}
li{list-style-type: none}
/* TOPS */
span#top{
	position: absolute;
	top:0;
	right:0;
	left:0;
	background: url('../images/headbg2.jpg') 0 0 repeat-x;
	height: 40px
}
div#login{
	position:absolute;
	top:4px;
	width:900px;
	min-width: 900px;
	color: white;
	font-size: 14px
}
div#login *{float: right;}
div#login a{
	font-weight: normal;
	padding: 0 10px;
	height: 18px;
	color:white;
	text-decoration: none;
}
div#login a:hover{color:#f6ce49;}
div#banner{
	margin-top:30px;
	clear: both;
	height: 114px;
}
h1#logo{
	background: url('../images/logo.png') 0 0 no-repeat;
	height: 129px;
	width: 303px;
	margin:0;display:block;
 	margin-top:4px;
	text-indent: -9999px;
}
/* MENIU */
nav{
	height:30px;
	clear:both;
	background: url('../images/mbg.jpg') 0 0 repeat-x;
	width: 100%;
	margin-top:140px;
	border:1px white solid;
	border-width: 1px 0;
	border-radius: 3px;
	margin: 0;
}
nav>ul{
	padding-left:20px;
	margin: 0;
	margin-top: 2px;
	width: 100%;
	height: 30px;
}
nav>ul>li{
	float: left;
	list-style: none;
	padding: 4px 10px 0 10px;
	margin: 0;
}
nav a{
	text-decoration: none;
	color:white;
	margin: 0;
}
nav a:hover{color:#f6ce49;}
ul.dropdown{
	position: absolute;
	margin:14px 0 0 -20px;
	padding: 15px;
	width: 100px;
	background: rgba(0,0,0,.85);
	border: 1px white solid;
	border-width: 0 1px 1px 0;
	box-shadow: 2px 2px 10px #111
}
span.dropdown{
	display: block;
	background: url('../images/arrow.png') 10px 0 no-repeat;
	height: 11px;
	width: 100px;
	margin-top:-26px;
}
li.dropdown{
	height: 30px;
}
ul.dropdown li{	
	list-style-type: none;
	margin-top: 5px
}
ul.dropdown{
	display:none;
	z-index: 1;
}
/* END MENIU */
/* SIDEBAR */
div#sidebar{
	position:fixed;
	margin-left:920px;
	top:30%;
	z-index: 5
}
div#sidebar li{
	list-style-type: none;
	height: 45px;
	width: 45px;
	overflow: hidden;
	padding: 0 0 5px 0;
}
div#sidebar a{text-decoration: none}
li#twiter{background: url('../images/twiter.png') 0 0 no-repeat;}
li#fb{background: url('../images/fb.png') 0 0 no-repeat;}
li#linkIn{background: url('../images/in.png') 0 0 no-repeat;}
li#youtube{background: url('../images/y2b.png') 0 0 no-repeat;}
/* END SIDEBAR */
/* CONTENT HEADER */
div#head{
	height: 270px;
	background: url('../images/hcontbg.jpg') 0 0 repeat-x;
	padding: 20px;
	margin: 0px;
	border: 1px white solid
}
div#left{
	width: 399px;
	border-right: 1px #d5d5d5 solid;
	position: relative;
	height: 90%;
	float: left;
	padding-right: 20px;
}
div#left p{
	font-size: 15px;
	color:#444;
	line-height: 20px;
	margin-bottom: 15px
}
div#left h1{
	font-family: "avant";
	font-size: 35px;
	margin: 0 0 10px 0;
	font-weight: normal;
	line-height: 40px;
}
#button h3{
	background: #4096ee ;
	color:white;
	padding: 4px 0 0 23px;
	font-size: 24px;
	margin:0px;
	border-radius: 5px;
	margin-top: -10px;
	height: 30px;
}
a#button{
	display: block;
	background: #1575d8;
	width: 193px;
	height: 30px;
	border-radius: 5px;
	color: white;
	text-decoration: none;
	position: absolute;
	margin-top:10px;
	left:180px;
}
a#button h3:active{
	margin-top: -5px;
}
div#right{
	padding: 20px;
	width: 350px;
	position: relative;
	border-left: 1px white solid;
	height: 80%;
	float: left;
}
#carrousel{ 
	height: 80%; 
	position:relative;
	right: -30px;
	top:-20px;
}
#carrousel img{
	width: 317px;
	height: 219px;
	position: absolute;
}
.one{
	top:20px;
	right: 40px;
	border:6px black solid;
	z-index: 3;
}
.two{
	top:10px;
	right: 25px;
	border: 6px white solid;
	z-index: 2;
}
.three{
	top: 0px;
	right: 10px;
	border: 6px #f1f1f1 solid;
	z-index: 1
}
#right>ul{
	width: 300px;
	margin-left: 40%;
	height: 20px;
	position: absolute;
	bottom: -20px
}
#right li{
	list-style: none;
	background: url('../images/b-off.png') 0 0 no-repeat;
	height: 17px;
	width: 17px;
	cursor: pointer;
	float: left;
	margin-right: 10px;
}
#right li:hover{
	background: url('../images/b-onh.png') 0 0 no-repeat;
}
#right li:active{
	background: url('../images/b-on.png') 0 0 no-repeat;
}
	/* END CONTENT HEADER */
	/* CONTAINER */
#container{
	clear: both;
	background: #fafafa;
	padding: 20px;
	margin: 0;
	border: 1px #e2e1e1 solid;
	min-height: 500px;
	position: relative;
}
		/* BUTTONS */
#buttons{
	padding-top: 15px;
	height: 100px;
}
#buttons a{
	height: 90px;
	width: 275px;
	display: block;
	float: left;
	border-radius: 5px;
	margin-right: 10px;
}
#buttons div{
	height: 83px;
	width: 275px;
	background: green;
	border-radius: 5px;
	border-bottom: 1px white solid;
	position: relative;
}
#buttons span{
	display: block;
	position: absolute;
	top:-11px;
	left:25px;
	z-index: 1
}
#buttons h3{
	padding: 10px 0 5px 0;
}
#buttons a:first-child{
	background: #96c612;
}
#buttons a:first-child div{
	background: url('../images/stripesg.jpg') 0 0 repeat-x
}
#buttons a:first-child span{
	background: url('../images/clipg.png') 0 0 no-repeat;
	margin-top:-10px;
	height: 52px;
	width: 31px;
}
#buttons a:first-child h3{
	text-shadow: 0px 0px 3px #9ac80d;
}
#buttons a:first-child p{
	color:#638400;	
}
#buttons a:nth-child(2){
	background: #1b72b2;
}
#buttons a:nth-child(2) div{
	background: url('../images/stripesb.jpg') 0 0 repeat-x
}
#buttons a:nth-child(2) span{
	background: url('../images/clipb.png') 0 0 no-repeat;
	margin-top:-10px;
	height: 52px;
	width: 31px;
}
#buttons a:nth-child(2) h3{
	text-shadow: 0px 0px 3px #106bcf;
	padding-top: 20px
}
#buttons a:nth-child(2) p{
	color:#05478c;
}
#buttons a:last-child{
	background: #d95501;
	margin-right: 0
}
#buttons a:last-child div{
	background: url('../images/stripeso.jpg') 0 0 repeat-x
}
#buttons a:last-child span{
	background: url('../images/clipo.png') 0 0 no-repeat;
	margin-top:-10px;
	height: 52px;
	width: 31px;
}
#buttons a:last-child h3{
	text-shadow: 0px 0px 3px #d85203;
}
#buttons a:last-child p{
	color:#b04100;	
}
#buttons div > * {margin: 0}
#buttons p{
	font-size: 14px
}
#buttons h3{
	color: white;
	font-size: x-large;
}
#buttons div img{
	float: left;
	-webkit-transform:rotate(-20deg);
	-o-transform:rotate(-20deg);
	-ms-transform: rotate(-20deg);
	transform: rotate(-20deg);
	border: 3px solid rgba(255, 255, 255, .7);
	margin-right: 20px
}
#buttons a:active{
	padding-top: 7px;
	height: 83px;
	background: transparent;
}
	/* END BUTTONS */
	/* MAIN */
p#spanline{
	position: relative;
	left:-30px;
	background: url('../images/tournaments.png') 0 0 no-repeat;
	height: 45px;
	width: 278px;
	padding-left: 25px;
	color: white;
	padding-top: 4px;
	font-size: 18px
}
div#main{
	position: relative;
	margin-bottom: 20px;
	height: 440px
}
div#main>ul{
	width: 900px;
	position: relative;
}
div#main li{
	margin: 0px;
	padding: 0
}
div#main li>ul li{
	float: left;
	margin:5px;
	display: block;
	width: 420px;
	height: 200px;
}
div#main img{
	float:left;
	border: 5px #4f4f4f solid;
	margin-right: 15px
}
div#main span{
	position: relative;
	bottom: -2px;
	border: 0;
	display: inline-block;
	height: 14px;
	width: 14px;
	background: url('../images/more.png') 0 0 no-repeat;	
}
div#main h3, div#main p{
	color: #555;
	font-weight: normal;
	line-height: 20px
}
div#main h3{
	font-size: 20px;
	padding-bottom: 10px
}
div#main a{
	color: #4096ee;
	display: inline;
}
div#main a:hover{
	text-decoration: underline;
}
	/* END MAIN */
	/* MEDIA LINKS */
ul#media{
	margin: 0px 0 150px 0px;
	position: relative;
}
hr{
	position: absolute;
	bottom: 90px;
	left:-21px;
	width: 898px
}
ul#media * {margin: 0}
ul#media li{
	display: inline-block;
	border-right:1px #d7d7d7 solid;
	height: 50px;
	width: 179px;
	padding: 15px 10px 0 10px
}
ul#media span#img{
	float: left;
	margin-right: 15px;
	display: block;
}
ul#media p{
	color:black;
	font-family: "arial";
	font-size: small}
ul#media a:first-child #img{
	background: url('../images/videos.png') 0 0 no-repeat;
	height: 40px;
	width: 41px;
}
ul#media a:nth-child(3) #img{
	background: url('../images/photos.png') 0 0 no-repeat;
	width: 44px;
	height: 32px;	
}
ul#media a:nth-child(4) #img{
	background: url('../images/news.png') 0 0 no-repeat;
	width: 38px;
	height: 38px;
}
ul#media a:last-child #img{
	background: url('../images/social.png') 0 0 no-repeat;
	width: 48px;
	height: 40px;
}
ul#media a:last-child li{
	border: 0px;
	width: 195px;
}
ul#media h3{
	color:black;
	font-weight: normal;
	padding-bottom: 10px;
	margin-top:-5px;
	font-size: 18px
}
ul#media a:first-child:hover #img{
	background: url('../images/videos-on.png') 0 0 no-repeat;
}
ul#media a:nth-child(3):hover #img{
	background: url('../images/photos-on.png') 0 0 no-repeat;
}
ul#media a:nth-child(4):hover #img{
	background: url('../images/news-on.png') 0 0 no-repeat;
}
ul#media a:last-child:hover #img{
	background: url('../images/social-on.png') 0 0 no-repeat;
}
ul#media a:hover h3{
	color: #4096ee;
}
	/* END MEDIA */
	/* FOOTER */
div#footer{
	position: absolute;
	background: url('../images/footbg.jpg') 0 5px repeat-x;
	height: 145px;
	bottom: 0px;
	margin-bottom: -5px;
	left: 0;
	right: 0;
	margin: 0 auto;
}
div#footer ul{
	margin: 0;
	padding: 5px 0 0 20px;
}
div#footer li{
	padding-top: 4px
}
div#footer>ul{
	width: 900px;
	margin: 0 auto;
	position: relative;
}
div#footer>ul>li{
	float: left;
	width: 190px;
	margin-right: 15px;
}
div#footer li>ul li:first-child{
	border-bottom: 1px gray solid
}
div#footer li>ul li a{
	font-size: 14px
}
div#footer li>ul li:first-child a{
	color:#faed75;
	font-size: 18px
}
div#footer li:first-child li{
	color:white;
	padding-top: 10px
}
div#footer li:first-child li:first-child{
	border: 0;
	color:white;
	font-size: 12px
}
div#footer img{
	position: absolute;
	clip: rect(0px,27px,50px,0px);
	width: 100px;
	float:left;
}
div#footer span{
	position: relative;
	left:40px;
	top:10px;
	font-size: 19px
}
div#footer a:hover{
	color:#faed75;
}
div#footer li li:first-child a:hover{
	color:white;
}
	/* END FOOTER */
/*======================
========================
========================

	MEMBERSHIP.HTML

========================
========================
======================*/
#container2{
	background: #fafafa;
	padding: 20px;
	margin: 0;
	border: 1px #e2e1e1 solid;
	position: relative;
	top:-5px;
	font-family: 'Arial';
	padding-left: 20px
}
#container2 p{
	font-size: 14px;
	text-align: justify;
	margin-left: 10px
}
#container2 h2{
	font-size: 20px;
	font-weight:bold;
	margin: 10px
}
ul#membership{
	display: block;
	height: 700px;
	width: 855px;
	margin: 30px;
	margin-left: 0px;
}
ul#membership>li{
	position: relative;
	float: left;
	margin: 0;
	font-weight: bold;
	font-size: 14px
}
ul#membership li li{
	display: block;
	width: 210px;
	height: 30px;
	color:#797979;
	padding-top: 10px;
	text-align: center;
	border-bottom: 1px white solid;
	background:#e0e0e0;
}
ul#membership a{
	background: url('../images/b-black.jpg') 0 0 repeat-x;
	display: block;
	width: 140px;
	height: 30px;
	margin: 15px auto;
	font-size: 18px;
	padding-top:8px;
	border-radius: 20px;
}
ul#membership a:active{
	background: url('../images/b-blackon.jpg') 0 0 repeat-x;
}
ul#membership>li:first-child li{
	background: #cbcbcb
}
ul#membership>li:first-child li:first-child{
	background: url('../images/m1bg.jpg') 0 0 repeat-x;
	border-top-left-radius: 7px;
	color:#e0e0e0;
	padding-top: 10px;
}
ul#membership>li:first-child li:last-child{
	border-bottom-left-radius: 7px
}
ul#membership>li:first-child ul>li{
	border-color:#a2a2a2;
	box-shadow: -15px 0px 25px -20px black inset
}
ul#membership ul li:first-child,ul#membership ul li:last-child{
	height: 80px;
	font-size: x-large;
	border:0;
	color:white;
	font-weight: normal
}
ul#silver li:first-child,ul#premium li:first-child{
	background: url('../images/m2bg.jpg') 0 0 repeat-x;
}
ul#membership ul#gold{
	box-shadow: 0 0 25px black;
	padding-left: 0px;
	margin-left: 0px
}
ul#membership ul#gold li{
	background-color: white;
	border-bottom: 1px #dadada solid;
	width:200px;
}
ul#membership ul#gold li:first-child{
	top:-20px;
	padding-bottom:20px;
	margin-bottom: -20px
}
ul#gold li:first-child,ul#gold li:last-child{
	height: 100px;
	position: relative;
}
ul#gold li:last-child{
	bottom:-20px;
	margin-top:-20px;
	padding-bottom: 20px
}
ul#membership ul#gold a{
	background: url('../images/b-red.jpg') 0 0 repeat-x;
}
ul#membership ul#gold a:active{
	background: url('../images/b-redon.jpg') 0 0 repeat-x;
}
ul#membership ul#gold li:first-child{
	border-radius: 7px 7px 0 0;
	border: 0;
	background: white url('../images/b-green.png') -10px 0px no-repeat;
}
ul#membership ul#gold li:last-child{
	border-radius: 0 0 7px 7px;
	border-bottom: 1px gray solid
}
ul#membership ul#premium li{
	box-shadow: 15px 0px 25px -20px black inset;
}
ul#premium li:first-child{
	border-top-right-radius: 7px
}
ul#premium li:last-child{
	border-bottom-right-radius: 7px
}
ul#membership h2{
	margin-top: -5px;
	font-size:50px;
}
ul#membership ul#gold h2{
	font-size: 60px
}
ul#membership ul#gold sup{
	font-size: 30px
}
ul#membership small{
	font-size: 20px;
}
ul#membership sup{
	font-size: 26px
}