/* === GLOBALS --- */
html{
	position: relative;
}
body{
	background: url('../images/bg.jpg');
	font-family: 'Arial';
	cursor: default;	
}
div#all{
	min-width: 960px;
	width: 960px;
	margin: 0 auto;
	margin-bottom: 620px;
	position: relative;
}
a{
	text-decoration: none;
	color: black
}
ul{
	margin-left: -40px;
}
li{
	list-style-type: none;
	margin: 0
}
img{
	border:0;
}
/* --- GLOBALS === */
	/* === HEADER --- */
div#header{
	display: block;
	height: 130pt;
	width: 100%;
}
div#header h1{
	font-weight: 1000;
	font-size: 48pt;
	color: black;
	margin: 30pt 0 0 0;
	height: 34pt;
	float: left;
	position: relative;
	left: -3px;
	letter-spacing: -5px;
}
div#header b{
	color: red;
	position: relative;
	left: -13px;
	font-size: 80px
}
div#header>span{
	background: white;
	text-align: center;
	padding-top: 46px;
	border-radius: 2px;
	margin: 30px;
	width: 480px;
	height: 60px;
	display: block;
	color: #ccc;
	float: right;
}
	/* --- HEADER === */
/* === MENU --- */
nav{
	background: url('../images/menu.jpg') 0 0 repeat-x;
	display: block;
	height: 50px;
	position: absolute;
	left: 0;
	right: 0;
	font-size: 13px
}
nav>ul:first-child{
	min-width: 960px;
	width: 960px;
	height: 50px;
	margin: 0 auto;
}
nav>ul:first-child>a{
	float: left;
	padding: 15px;
	text-transform: uppercase;
}
nav>ul:first-child>a:first-child{
	margin-left: -35px;
}
nav li{
	color: white;
	height: 18px
}
nav>ul:first-child>a:hover{
	background: -webkit-linear-gradient(transparent,#555);
    background: -o-linear-gradient(transparent,#555);
    background: -moz-linear-gradient(transparent,#555);
    background: linear-gradient(transparent,#555);
}
li#submenu{height: 80px;font-size: 13px}
ul#submenu{
	background: rgb(60,60,60);
	text-transform: none;
	position: absolute;
	left: 465px;
	top: 48px;
	width: 98px;
	text-align: center;
	z-index: 100;
	display: none;
}
ul#submenu li{
	margin-left: -40px;
	display: block;
	height: 30px;
	border-bottom: 1px gray solid;
	padding-top: 10px;
}
ul#submenu a{
	clear: left;
}
ul#submenu li:hover{
	background: -webkit-linear-gradient(transparent,#777);
    background: -o-linear-gradient(transparent,#777);
    background: -moz-linear-gradient(transparent,#777);
    background: linear-gradient(transparent,#777);
}
/* --- MENU === */
/* === BANNER --- */
div#banner{
	position: relative;
	display: block;
	height: 370px;
	margin-top: 50px;
	overflow: hidden
}
div#banner div{
	position: absolute;
	display: block;
	height: 250px;
	width: 700px;
	top: 40px;
	border: 2px gray dashed;
	border-width: 1px 0;
}
div#st,div#nd{
	left: -960px;
}
div#rd{
	left: 130px;
}
div#rth,div#th{
	left: 1220px;
}
div#banner span{
	display: block;
	height: 250px;
	width: 700px;
	overflow: hidden;
}
div#banner div:first-child span{
	background: url('../images/1.jpg') 0px -80px no-repeat;
}
div#banner div:nth-child(2) span{
	background: url('../images/2.jpg') 0px -40px no-repeat;
}
div#banner div:nth-child(3) span{
	background: url('../images/3.jpg') 0px -40px no-repeat;
}
div#banner div:nth-child(4) span{
	background: url('../images/4.jpg') 0px -40px no-repeat;
}
div#banner div:nth-child(5) span{
	background: url('../images/5.jpg') 0px -60px no-repeat;
}
div#banner ul{
	position: absolute;
	bottom: 10px;
	left: 470px;
	border: 1px gray dashed;
	border-radius: 15px;
	display: block;
	width: 55px;
}
div#banner li{
	display: inline-block;
	height: 11px;
	width: 11px;
	background: url('../images/b1.png') 0 0 no-repeat;
	margin-left: 1px;
	cursor: pointer;
}
div#banner li:hover{
	background: url('../images/b2.png') 0 0 no-repeat;
}
div#banner li:first-child{
	margin-left: -30px;
}
/* === BANNER --- */
/* --- CONTAINER === */
div#container{
	width: 100%;
	height: 1400px;
}
div#container p,div#container h3{
	margin: 0;
	padding: 0;
}
div#container>div{
	float: left;
	height: 300px
}
	/* --- CONTENTS === */
div#contents{
	width: 630px;
	position: relative;
}
div#categ{
	display: block;
	height: 200px;
	border-bottom: 1px #aaa dashed;
	width: 610px;
	margin-bottom: 20px;
}
div#categ>div{
	height: 195px;
}
div#main{
	float: left;
	width: 410px;
	position: relative;
}
div#mid{
	height: 160px;
	display: block;
	margin-left: 80px;
	color: #5e5e5e;
}
div#mid h4,div#mid small,div#mid p{
	font-size: 13px;
	margin-top: 5px;
	font-family: 'Georgia';
	font-weight: 100;
	margin-bottom: 5px;
}
div#mid h4{
	margin-top: 0;
}
div#mid small{
	color: #aaa;
}
div#mid a,div#mid p{
	color: #5e5e5e;
}
div#mid a:hover{
	color: black;
}
div#mid h3{
	font-size: 19px;
	font-weight: 600;
	font-family: 'Calibri';
	line-height: 18px;
	margin-bottom: 5px;
	text-transform: capitalize;
}
div#loves{
	position: absolute;
	left: 0px;
	top: -2px;
	width: 56px;
	height: 80px;
	border: 1px #ddd dashed;
	border-width: 0 2px;
	text-align: center;
	color: gray;
	background: -webkit-linear-gradient(#e8e8e8,white,rgba(255,255,255,.1),transparent);
    background: -o-linear-gradient(#e8e8e8,white,rgba(255,255,255,.1),transparent);
    background: -moz-linear-gradient(#e8e8e8,white,rgba(255,255,255,.1),transparent);
    background: linear-gradient(#e8e8e8,white,rgba(255,255,255,.1),transparent);
   	color: #e0e0e0;
}
div#loves>*{
	margin: 5px 0;
	padding: 0;
}
div#loves p{
	font-family: 'Georgia';
	font-style: italic;
	font-size: 12px;
}
div#loves h2{
	font-weight: bold;
	font-size: 28px;
	margin: 0;
}
div#bot{
	height: 30px;
	width: 400px;
	font-family: 'Georgia';
	color: #aaa;
	font-size: 13px;
	margin-top: 10px;
	margin-left: 20px
}
div#bot>*{
	display: inline-block;
}
div#bot a{
	color: #aaa;
}
div#bot a:hover{
	color: black;
}
div#bot b{
	width: 60px;
	padding: 5px auto;
	color: #5e5e5e;
	font-size: 11px;
}
div#categ div#thumb{
	display: block;
	height: 160px;
	width: 160px;
	float: right;
	margin: 10px;
	box-shadow: 0 0 5px 2px #eee;
	border: 3px white solid;
}
div#categ:first-child div#thumb span{
	display: block;
	background: url('../images/th1.jpg') 0 0 no-repeat;
	width: 160px;
	height: 160px;
}
div#categ:nth-child(2) div#thumb span{
	display: block;
	background: url('../images/th2.jpg') -60px 0 no-repeat;
	width: 160px;
	height: 160px;
}
div#categ:nth-child(3) div#thumb span{
	display: block;
	background: url('../images/th3.jpg') -40px 0 no-repeat;
	width: 160px;
	height: 160px;
}
div#categ:nth-child(4) div#thumb span,div#categ:nth-child(6) div#thumb span{
	display: block;
	background: url('../images/th4.jpg') -40px 0 no-repeat;
	width: 160px;
	height: 160px;
}
div#categ:nth-child(5) div#thumb span{
	display: block;
	background: url('../images/th5.jpg') -100px 0 no-repeat;
	width: 160px;
	height: 160px;
}
	/* === CONTENTS --- */
		/* --- PAGE BUTTONS === */
ul#page{
	margin-top: 30px;
	position: relative;
	margin-left: -43px;
}
ul#page li{
	padding-top: 10px;
}
ul#page a{
	float: left;
	border-bottom: 3px #ccc solid;
	margin-left: 3px;
	color: black;
	background: transparent;
	display: block;
	height: 40px;
	width: 40px;
	text-align: center;
	font-size: 18px;
}
ul#page a:last-child{
	width: 60px;
}
ul#page a:hover,ul#page a:first-child{
	color: white;
	background: #333;
	cursor: pointer;
}
		/* === PAGE BUTTONS --- */
	/* --- SIDE === */
div#side{
	width: 300px;
	position: relative;
	left: 10px;
}
div#side>p:first-child{
	background: url('../images/hash.png') 0 0 repeat-x;
	width: 100%;
	margin-bottom: 15px;
}
div#side>p:first-child>span{
	display: block;
	height: 15px;
	width: 45px;
	margin-left: 30px;
	position: relative;
	top: -2px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11.3px;
	color: #888;
	background: url('../images/bg.jpg') 0 0 repeat-x;
}
input[type='text']{
	color: #ccc;
	padding-left: 20px;
	background: -webkit-linear-gradient(#e8e8e8,#fff,#fff,transparent);
    background: -o-linear-gradient(#e8e8e8,#fff,#fff,transparent);
    background: -moz-linear-gradient(#e8e8e8,#fff,#fff,transparent);
    background: linear-gradient(#e8e8e8,#fff,#fff,transparent);
    border: 1px #aaa dashed;
    border-width: 1px 0 1px 1px;
    border-left-style: solid;
    border-radius: 3px 0 0 3px; 
    height: 21px;
    font-size: 10px;
    font-weight: bold;
    margin-left: 50px;
    margin-bottom: 35px;
 }
input[type='button']{
	background: url('../images/menu.jpg') 0 -10px repeat-x;
	color: white;
	border: 0;
	border-radius: 0 3px 3px 0;
	height: 25px;
	font-size: 10px;
	padding: auto 25px;
	width: 50px;
	font-weight: bold;
	position: relative;
	left: -7px;
	cursor: pointer;
}
div#side>p:nth-child(4){
	background: url('../images/hash.png') 0 0 repeat-x;
	width: 100%;
	margin-bottom: 15px;
}
div#side>p:nth-child(4)>span{
	display: block;
	width: 90px;
	height: 15px;
	margin-left: 30px;
	position: relative;
	top: -2px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #888;
	background: url('../images/bg.jpg') 0 0 repeat-x;
}
ul#popular{
	width: 100%;
	margin: 0 0 0 -40px;
}
ul#popular li{
	float: left;
	padding: 14px;
	font-size: 12px;
	border-right: 1px #aaa solid;
	cursor: pointer;
	font-weight: bold;
	width: 15%;
}
.active{
	background: -webkit-linear-gradient(transparent,rgba(255,255,255,.1),transparent,#eee);
    background: -o-linear-gradient(transparent,rgba(255,255,255,.1),transparent,#eee);
    background: -moz-linear-gradient(transparent,rgba(255,255,255,.1),transparent,#eee);
    background: linear-gradient(transparent,rgba(255,255,255,.1),transparent,#eee);	
}
ul#popular li:nth-child(3){
	width: 20%;
}
ul#popular li:last-child{
	border-right: 0;
	width: 11%;
}
div#popular{
	border: 1px #aaa solid;
	font-size: 12px;
	width: 296px;
	box-shadow: 0 0 5px 1px #ccc;
	border-radius: 3px;
	margin-bottom: 35px;
}
div#popular p{
	margin: 10px;
	padding: 50px 0 10px 20px;
	display: none;
}
div#popular>p:nth-child(2){
	display: block;
}
div#side>p:nth-child(6){
	background: url('../images/hash.png') 0 0 repeat-x;
	width: 100%;
	margin-bottom: 15px;
}
div#side>p:nth-child(6)>span{
	display: block;
	width: 75px;
	height: 15px;
	margin-left: 30px;
	position: relative;
	top: -2px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #888;
	background: url('../images/bg.jpg') 0 0 repeat-x;
}
ul#cags{
	margin-bottom: 35px;
	display: block;
	height: 320px
}
ul#cags>li{
	float: left;
	color: #5e5e5e;
	text-transform: capitalize;;
	margin-right: 25px;
	font-size: 12px;
	font-weight: bold;
}
ul#cags li ul li{
	border-bottom: 1px #ccc dashed;
	width: 120px;
	padding: 10px 0;
}
ul#cags li ul li:last-child{
	border: 0;
}
ul#cags li ul a:hover{
	color: #aaa;
}
div#side>p:nth-child(8){
	background: url('../images/hash.png') 0 0 repeat-x;
	width: 100%;
	margin-bottom: 15px;
	clear: both;
}
div#side>p:nth-child(8)>span{
	display: block;
	width: 120px;
	height: 15px;
	margin-left: 30px;
	position: relative;
	top: -2px;
	padding: 0 10px;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 11px;
	color: #888;
	background: url('../images/bg.jpg') 0 0 repeat-x;
}
iframe{
	width: 290px;
	border: 3px white solid;
	box-shadow: 0 0 5px 2px #aaa
}
	/* === SIDE --- */
/* === CONTAINER --- */
/* --- FOOTER === */
div#footer{
	position: absolute;
	display: block;
	background: url('../images/f1.jpg') 0 0 repeat;
	height: 620px;
	left: 0;
	right: 0;
	bottom: 0px;
	color: white;
}
div#middle{
	min-width: 960px;
	width: 990px;
	font-size: 13px;
	margin: 0px auto;
	padding-top: 30px;
}
div#middle p{
	color: #e0e0e0;
}
div#footer>span:first-child{
	display: block;
	width: 100%;
	height: 19px;
	background: url('../images/f1.png') 0 0 repeat-x;
	border-bottom: 1px #666 dashed;
}
div#footer ul h2{
	font-size: 28px;
	margin: 0;
	height: 34pt;
	float: left;
	letter-spacing: 0px;
	position: relative;
	top:-25px;
}
div#footer ul b{
	color: red;
	font-size: 44px;
	position: relative;
	left: -13px;
}
div#footer ul li{
	float: left;
	display: block;
	width: 220px;
	margin-left: 20px;
	position: relative;
	left: -5px;
}
div#middle>ul>li:first-child{
	width: 260px;
}
div#middle>ul>li:last-child{
	width: 180px;
}
div#middle>ul>li:last-child{
	width: 180px;
}
div#middle span{
	background: url('../images/hash.png') 0 0 repeat-x;
	display: block;
	height: 10px;
	width: 120px;
	float: right;
	position: relative;
	top: 3px;
}
div#middle h3{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 13px;
}
div#middle li:first-child>p{
	font-size: 13px;
}
div#middle li:nth-child(2) ul,div#middle li:nth-child(3) ul{
	margin-left: -55px;
	padding-top: 20px;
	font-size: 13px;
}
div#middle li:nth-child(2) ul>li{
	margin-bottom: 20px;
	padding-bottom: 20px;
	border-bottom: 1px #444 dashed;
}
div#middle li:nth-child(2) ul>li span{
	background: none;
	font-family: 'Georgia';
	color: #8f8f8f;
	font-size: 12px;
}
div#middle ul>li a,div#middle li:nth-child(2) ul>li:last-child a:nth-child(3){
	color: #e0e0e0;
}
div#middle li:nth-child(2) ul>li:last-child a{
	color: #8f8f8f;
}
div#middle a:hover,div#middle li>ul li:last-child a:hover{
	color: white;
}
div#middle li:nth-child(3) ul>li{
	margin-bottom: 10px;
	padding-bottom: 10px;
	border-bottom: 1px #444 dashed;
}
div#middle div{
	display: block;
	width: 230px;
	margin-top: 30px;
	position: relative;
}
div#middle div span{
	display: block;
	width: 90px;
	height: 90px;
	margin-bottom: 5px;
}
div#middle div a{
	float: left;
}
div#middle div a:first-child span{
	background: url('../images/imgs.png') 0 0 no-repeat;
	overflow: hidden;
	margin-right: 5px;
}
div#middle div a:nth-child(2) span{
	background: url('../images/imgs.png') -96px 0 no-repeat;
	overflow: hidden;
}
div#middle div a:nth-child(3) span{
	background: url('../images/imgs.png') 0 -96px no-repeat;
	overflow: hidden;
	margin-right: 5px;
}
div#middle div a:nth-child(4) span{
	background: url('../images/imgs.png') -96px -96px no-repeat;
	overflow: hidden;
}
div#middle div a:nth-child(5) span{
	background: url('../images/imgs.png') 0 -192px no-repeat;
	overflow: hidden;
	margin-right: 5px;
}
div#middle div a:last-child span{
	background: url('../images/imgs.png') -96px -192px no-repeat;
	overflow: hidden;
}
div#copyright{
	font-size: 13px;
	border-top: 1px #666 dashed;
	height: 70px;
	background: url('../images/f1.png') 0 0 repeat;
	clear: both;
}
div#copyright div{
	margin: 30px auto;
	width: 960px;
	min-width: 960px;
	color: #e0e0e0;
}
div#copyright a{
	color: #8f8f8f;
}
div#copyright a:hover{
	color: white;
}
/* GRID */
div#grid{
	position: fixed;
	bottom: 0;top: 0;left: 0;right: 0;
}
div#grid hr{
	position: absolute;
	z-index: 1;
	width: 100%;
	opacity: .2;
}
div#center span#small{
	display: block;
	width: 20px;
	height: 100%;
	background: rgba(255,0,0,.2);
	z-index: 2;
	position: relative;
	float: left;
}
div#center span#med{
	display: block;
	width: 60px;
	height: 100%;
	background: rgba(255,0,0,.2);
	z-index: 1;
	position: absolute;
	float: left;
}
div#grid div#center{
	margin: 0 auto;
	width: 960px;
	min-width: 960px;
	height: 100%;
	position: relative;
}